
@import "_variables.scss";
@import "_mixins.scss";
@import "_global.scss";


/* Header on Landing Page */

.home-header {

    height: 100vh;

    img {
        max-width: 100%;
        max-height: 100vh;
        clip-path: polygon(0 0, 100% 0, 51% 100%, 0% 100%);
    }
}

.header-side-article {
    position: absolute;
    top: 30%;
    right: 10%;
    max-width: 20em;
    @include flexBox;
    text-align: center;
}

/* About Section */

#about {
    text-align: center;
    @include flexBox;
    background: $lightgrey;
    height: 100vh;

    h2 {
        margin-bottom: 1em;
    }

    p {
        max-width: 85%;
    }
}

#select-bodypart {
    @include flexBox;
    padding: 3em;

    h2 {
        margin-bottom: 1em;
    }

    .workout-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .select-options {
        margin: 2em;
        @include boldFont;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
        border: none;
        background: $darkgrey;
        color: $offwhite;
        outline: none;
        cursor: pointer;
        padding: 1em 5em;
    }
}

.workout-card {
    max-width: 22em;
    @include flexBox;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    padding: 0.5em;
    margin: 1em;
    text-align: center;

    .exer-picture {
        width: 200px;
        height: 200px;
    }

    .exer-name {
        @include boldFont;
        color: $red;
        padding: 0.5em;
    }

    .exer-description {
        color: $darkgrey;
        @include regularFont;
        text-align: center;
        padding: 0.8em;
    }

    .exer-category {
        @include boldFont;
        color: $darkgrey;
        padding: 0.5em;
    }
}

/* Contact Section */

#contact {
    @include flexBox;
    background: $lightgrey;
    height: 100vh;

    h2 {
        margin-bottom: 1em;
    }

    iframe {
        margin: 2em;
    }

    article {
        text-align: center;
    }
}

/* Register and Login Forms */

.form-section {
    margin-top: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form, .register-form {
    max-width: 22em;
    @include flexBox;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    padding: 2em;
    margin: 2em;

    #validate-gender {
        @include regularFont;
        margin: 0.5em;
        padding: 0.5em;
    }

    label, input {
        @include regularFont;
        margin: 0.5em;
    }

    .register-info {
        margin-bottom: 1em;
    }
}

/* Dashboard */ 

.dashboard-main {
    margin: 3em auto 1em auto;
    text-align: center;
}

.workout-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
}

.workout-title {
    @include flexBox;
    margin-bottom: 3em;
    color: $red;
}

.horizontal-rule {
    display: inline-block;
    height: 4px;
    width: 8em;
    background: $darkgrey;
    margin-top: 0.2em;
}

/* Media Queries */

/* Phones */

@media screen and (max-width: 599px) {

    .home-header img {
        width: 100%;
        height: 100%;
        clip-path: none;
    }

    .header-side-article {

        h1 {
            color: $lightgrey;
            font-size: 1.8rem;
        }

        p {
            color: $lightgrey;
            font-size: 1.5rem;
        }
    }

    h1, h2 {
        font-size: 1.8rem;
    }

    p {
        text-align: center;
        font-size: 1.2rem;
    }

    .top-nav {
        display: none;
    }

    .side-nav {
        display: block;
    }

    .form-section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .login-form {
            margin-top: 10em;
        }

        .register-form {
            margin-bottom: 15em;
        }
    }

    #contact p {
        text-align: center;
    }

}

/* Tablets */

@media screen and (min-width: 600px) {

    .home-header img {
        width: 70%;
        height: 100%;
    }

    .header-side-article {

        h1 {
            color: $red;
        }

        p {
            color: $red;
        }
    }

    h1, h2 {
        font-size: 1.8rem;
    }

    p {
        font-size: 1.2rem;
        text-align: center;
    }

    .side-nav {
        display: none;
    }
}

/* Desktop */

@media screen and (min-width: 980px) {

    .home-header img {

        max-width: 60%;
        max-height: 100vh;
        clip-path: polygon(0 0, 100% 0, 51% 100%, 0% 100%);
    }

    .header-side-article {

        h1 {
            color: $darkgrey;
            font-size: 2rem;
        }

        p {
            color: $darkgrey;
            font-size: 1.2rem;
        }
    }

    h1, h2 {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }

    .side-nav {
        display: none;
    }

}

@media screen and (min-width: 1280px) {

    .home-header img {

        max-width: 80%;
            max-height: 100vh;
            clip-path: polygon(0 0, 100% 0, 51% 100%, 0% 100%);
    }

    .header-side-article {

        h1 {
            color: $darkgrey;
            font-size: 2rem;
        }

        p {
            color: $darkgrey;
            font-size: 1rem;
        }
    }

    h1, h2 {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }

    .side-nav {
        display: none;
    }

}
