<!-- Fixed top Navigation -->
<nav class="top-nav">
    <ul>
        <li><a href="index.php" class="home">Home</a></li>
        <li><a href="#about" class="about">About</a></li>
        <li><a href="#select-bodypart" class="select-bodypart">Exercise</a></li>
        <li><a href="#contact" class="contact">Contact</a></li>
        <li><a href="bmi.php" class="calculator">BMI Calculator</a></li>
        <li><a href="register.php">Login</a></li>
        <li><a href="dashboard.php">Dashboard</a></li>
    </ul>
</nav>
<!--Sidebar Navigation with Hamburger Menu -->
<i class="fas fa-bars" onclick="openMenu()"></i>  
<nav class="side-nav">
    <i class="fas fa-times" onclick="closeMenu()"></i>
    <ul>
        <li><a href="#home" class="home">Home</a></li>
        <li><a href="#about" class="about">About</a></li>
        <li><a href="#select-bodypart" class="select-bodypart">Exercise</a></li>
        <li><a href="#contact" class="contact">Contact</a></li>
        <li><a href="bmi.php" class="calculator">BMI Calculator</a></li>
        <li><a href="register.php">Login</a></li>
        <li><a href="dashboard.php">Dashboard</a></li>
    </ul>
</nav>